<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Mi familia: <br><br>
    Mama: {{MomName}}<br>
    Edad: {{MomAge}}<br>
    Nacimiento: {{MomNac}}<br>
    <br>
    Papa: {{DadName}}<br>
    Edad: {{DadAge}}<br>
    Nacimiento: {{DadNac}}<br>
    <br>
    Hermano: {{BroName}}<br>
    Edad: {{BroAge}}<br>
    Nacimiento: {{BroNac}}<br>
</body>
</html>